.home-header {
  padding: 10px 0;
}

.home-header__buttons {
  display: flex;
}

.link {
  cursor: pointer;
  border: 1px solid var(--primary-500);
  padding: 8px 16px;
  color: var(--primary-500);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
}

.link:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.link.active {
  background-color: var(--primary-100);
  color: var(--text-color);
}

.link.pending {
  background-color: red;
  color: var(--text-color);
}
