.card {
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    height: auto;
}
.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid green;
}

.card img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.card h3 {
    padding: 10px 0;
}