.errorContainer {
    min-height: 70%;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 

.errorContainer img {
    width: 50%;
    min-width: 600px;
    margin-bottom: 2rem;
}

.errorContainer h3{
    margin-bottom: 0.5rem;
}

.errorContainer p{
    line-height:1.5;
    margin-top: 0%.5rem;
    margin-bottom: 1rem
}


